body {
  margin: 10px;
  font-family: Arial;
}

html,
body {
  height: 100%;
}

.container {
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  display: grid;
  grid-template-rows: min-content auto;
  gap: 5px 5px;
  grid-template-areas: "x x x" "a b c";
}

.container2 {
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  display: grid;
  grid-template-rows: min-content auto;
  gap: 5px 5px;
  grid-template-areas: "x x x" "a a a";
}

.box {
  background: #ede7f6;
  padding: 1rem;
  border-radius: 1rem;
  border: solid grey 2px;
}

.x {
  grid-area: x;
  padding: 1px;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.mainImage {
  background: #ffffff;
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 1rem;
}

.boxHeader {
  margin: 5px;
  text-align: left;
}

.hiddenword {
  letter-spacing: 2px;
}

.scoreboard {
  overflow: hidden;
  height: auto;
  max-height: 0px;
  transition: max-height 2s;
  visibility: hidden;
}

.scoreboard.opened {
  max-height: 1000px;
  visibility: visible;
}

.bulletpointlist {
  float: left;
}

.form-control {
  margin: 5px 0 0 0;
}

.btn-group button {
  background-color: #7521ec; /* Purple background */
  border: 1px solid purple; /* Purple border */
  color: white; /* White text */
  cursor: pointer; /* Pointer/hand icon */
  float: right; /* Float the buttons side by side */
}

.keyboard button {
  background-color: #7521ec; /* Purple background */
  border: 1px solid purple; /* Purple border */
  color: white; /* White text */
  cursor: pointer; /* Pointer/hand icon */
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  font-size: x-large;
  border-radius: 10px;
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

li {
  margin: 10px 0;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  float: right;
}

.form-inline label {
  margin: 0px 10px 0px 0;
  padding: 10px;
}

.form-inline input {
  vertical-align: middle;
  margin: 0px 10px 0px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin: 5px;
  font-size: medium;
  /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  font-size: x-small;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext {
  width: 120px;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
  visibility: visible;
}

textarea {
  max-width: 100%;
  max-height: 100%;
}
